.DS_Store
*.pyc
*.swp
debug
docker_main
.vscode/*
!.vscode/launch.json
config/*
!config/*.example
!config/config.yaml
kill_backend.sh
*.mp4
!video/*
*.db
*.csv
vigision/models
vigision/version.py
web/build
web/node_modules
web/coverage
core
!/web/**/*.ts
.idea/*
.ipynb_checkpoints